html {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.material-icons {
    cursor: pointer;
    color: #ffffff;
}

.btn {
    display: block !important;
    margin: 10px !important;
}

.block-container {
    position: relative;
    height: 90vh;
    width: 90vw;
    margin: 0 0 0 5vw;
}

.block { 
    display: table;
    position: absolute;
    height: 100px;
    width: 100px;
    border: solid 1px #d2d2d2;
    cursor: move;
    border-radius: 2px;
}

.block-id {
    color: #ffffff;
}

.conn-label {
    min-width: 30px;
    height: 30px;
    border: 1px solid #d2d2d2;
    color: #ffffff;
    background-color: #396DA6;
    opacity: 0.7;
    text-align: center;
}

.center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}